 a{
    color:#333366;
    text-decoration:none;
    font-weight:500;
    transition:0.2s;
}
ul{
    list-style:none;
}
.rotate
{
    transition:transform 0.3s ease;
}
.rotate .collapsed
{
    transform:rotate(0deg);
}
.rotate:not(.collapsed)
{
    transform:rotate(180deg);
}